* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020e26;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: max-content;
}

.btn {
  background-color: #020e26;
  color: #fff;
  margin-top: 10px;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}